---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/landing/Hero.astro";
import EntriesOne from "../components/entries/EntriesOne.astro";
import Subscribe from "../components/forms/Subscribe.astro";
import { AstroSeo } from "@astrolib/seo";
---
<AstroSeo
  title="Lewis Menelaws / Coding with Lewis"
  description="Coding with Lewis is a place to share my ideas about programming, technology and content creation."
  canonical="https://lewismenelaws.com"
  openGraph={{
    url: "https://lewismenelaws.com",
    title: "Coding with Lewis",
    description: "Coding with Lewis is a place to share my ideas about programming, technology and content creation.",
    site_name: "Lewis Menelaws",
  }}
  twitter={{
    handle: "@LewisMenelaws",
    site: "@CodingWithLewis",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <Hero />
  <section>
    <div class="max-w-6xl mx-auto px-8 py-12">
      <div
        class="mt-6 gap-x-8 gap-y-24 grid grid-cols-2 lg:grid-cols-4 ">
        {
          allPosts
            .slice()
            .map((post) => (
              <EntriesOne
                url={"/posts/" + post.slug}
                title={post.data.title}
                description={post.data.description}
                alt={post.data.title}
                pubDate={post.data.pubDate.toString().slice(0, 10)}
                author={post.data.author}
                image={post.data.image.url}
              />
            ))
        }
      </div>
    </div>
  </section>
  <Subscribe />
</BaseLayout>
