---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";


---

<script>
  import mediumZoom from 'medium-zoom'
  document.addEventListener("DOMContentLoaded", () => {
    const headings = document.querySelectorAll(" h2,   h3");
    const tocContainer = document.getElementById("table-of-contents");
    if (tocContainer && headings.length > 0) {
      const tocList = document.createElement("ul");
      tocList.classList.add(
        "!list-none",
        "not-prose",
        "space-y-2",
        "text-sm",
        "uppercase"
      );
      headings.forEach((heading) => {
        const listItem = document.createElement("li");
        const link = document.createElement("a");
        link.classList.add(
          "text-white",
          "hover:text-accent-500",
          "duration-300"
        );
        link.textContent = heading.textContent;
        link.href = `#${heading.id}`;
        link.classList.add("text-black", "dark:text-white", "hover:underline");
        listItem.appendChild(link);
        tocList.appendChild(listItem);
      });
      tocContainer.appendChild(tocList);
      tocContainer.classList.remove("hidden");
    }
  });
  mediumZoom('[data-zoomable]', {
    background: "#131115"
  })
</script>


<AstroSeo
  title=`${frontmatter.title} - Coding with Lewis Menelaws`
  description=`${frontmatter.description} - Coding with Lewis Menelaws`
  canonical="https://lewismenelaws.com"
  openGraph={{
    url: "https://lewismenelaws.com",
    title: "Coding with Lewis / Lewis Menelaws",
    description: "Programming, Software and Content Creation by Coding with Lewis.",
    site_name: "Lewis Menelaws",
  }}
  twitter={{
    handle: "@LewisMenelaws",
    site: "@LewisMenelaws",
    cardType: "summary_large_image",
  }}
/>

<BaseLayout>
  <section >
    <div class="px-8 mx-auto max-w-7xl lg:px-24 pt-24">
      <p class="text-zinc-400">
        <small class="italic"
          >{frontmatter.pubDate.toString().slice(0, 10)} /
        </small>
        <small class="italic">Written by: {frontmatter.author}</small>
      </p>
      <h1
        class="text-white mt-4 font-semibold text-5xl lg:text-8xl tracking-tight text-balance uppercase"
      >
        {frontmatter.title}
      </h1>
      <p class="text-lg lg:text-xl text-zinc-400 mt-8">
        <em>{frontmatter.description}</em>
      </p>
      <div class="flex flex-wrap gap-6 mt-12">
        {
          frontmatter.tags.map((tag) => (
            <span class="inline-flex items-center text-sm font-light text-white    hover:text-accent-500">
              <a href={`/tags/${tag}`}>{tag}</a>
            </span>
          ))
        }
      </div>
    </div>
  </section>
   <section >
    <div class="px-8 mx-auto max-w-7xl lg:px-24 pb-24">
      <div class="lg:grid lg:grid-cols-12 gap-12 lg:gap-24 border-t border-white/20 mt-6">
        <div class="lg:col-span-4 relative">
          <div id="table-of-contents" class="hidden lg:block lg:sticky lg:top-64 space-y-6 mt-6 ">
           <div class="pb-6 border-b border-white/20"> <p class="text-white uppercase">Table of contents</p></div>
            <!-- Your table of contents content here -->
          </div>
        </div>
        <div class="lg:col-span-8">
          <div class="prose-styles">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
